body {
    background-color: #e6f7ff;
}


#header {
    text-align: center;
}

label{
    float: left;
    padding-right: 5px;
    font-family: Arial;
}

p{
   font-family: Arial;
}

.content {
    position: absolute;
    width: 1140px;
    margin-left: 570px;
}

#query_btn, #upload_btn, #help_btn, #chart_btn {
    position: relative;
    float: left;
    height: 40px;
    width: 25%;
}

#retrieval {
    height: 40px;
    margin-top: 100px;
    border: 5px solid #006699;
}

#files {
    float: left;
    position: absolute;
    width: 450px;
    height: 600px;
    margin-top: 175px;
    background-color: white;
    font-size: 20px;
    text-align: center;
    overflow: auto;
    border: 5px solid #006699;
}

table {
    border-collapse: collapse;
    margin: auto;
}
th {
    border: 1px solid #006699;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 22px;
    background-color: #e6f7ff;
}
tr {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #006699;
    text-align:center;
}
td {
    background-color: white;
    border: 1px solid #006699;
    font-size: 20px;
}


#query {
    display: block;
    height: 300px;
    margin-top: 175px;
    background-color: white;
    font-size: 20px;
    border: 5px solid #006699;
    overflow: auto;
    font-size: 24px;
}

#left {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    float: left;
    height: 300px;
    overflow: auto;
    text-align: center;
    border-right: 5px solid grey;
}
#right {
    padding-left: 30px;
    position: relative;
    float: left;
}

label {
    padding-left: 15px;
}

.forms {
    float: left;
    font-size: 20px;
}

input[type=radio] {
    float: right;
}

#upload {
    display: none;
    height: 300px;
    margin-top: 175px;
    background-color: white;
    font-size: 24px;
    overflow: auto;
    border: 5px solid #006699;
}

#left2 {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    float: left;
    height: 300px;
    overflow: auto;
    text-align: center;
    border-right: 5px solid grey;
}

#right2 {
    padding-left: 30px;
    position: relative;
    float: left;
}

input[type=file] {
    background-color: white;
    float: left;
    font-family: Arial;
}

#chart {
    display: none;
    height: 300px;
    margin-top: 175px;
    background-color: white;
    font-size: 24px;
    border: 5px solid #006699;
}

#chart_left {
    height: 300px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    float: left;
    border-right: 5px solid grey;
    text-align: center;
}
#chart_right {
    height: 300px;
    padding-left: 30px;
    position: relative;
    float: left;
}

#help {
    display: none;
    height: 600px;
    margin-top: 175px;
    background-color: white;
    font-size: 22px;
    text-align: center;
    overflow: auto;
    border: 5px solid #006699;
}
#instructions {
    padding-left: 10px;
    padding-right: 10px;
}


