body {
    background-color: #e6f7ff;
}

#return_form {
    float: left;
}
button {
    height: 40px;
    font-size: 24px;
}

#chart_container {
    margin: auto;
    margin-top: 50px;
    height: 550px;
    width: 880px;
    border: 5px solid #006699;
}